<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Localize um praia | BalnaSC</title>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="icon" href="/images/logoIcon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-main.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>

  <div id="page-main">
    <aside class="animate-right">
      <header>
        <img src="/images/logoC.svg" alt="Happy" />

        <h2>Escolha um local </h2>

        <div class="images-upload" id="images">
          <div class="input-block">
            <input id="name" name="name" required />
            <span>
              <img src="/images/search.svg" alt="Pesquisar" />
            </span>
          </div>
        </div>

        <p id="propria">Veja as praias que estão próprias e impróprias para banho.</p>

        <div class="banho">
          <img src="/images/mapProper.svg" alt="">
          <p>Própria para banho</p>
        </div>
        <div class="banho">
          <img src="/images/mapImproper.svg" alt="">
          <p>Imprópria para banho</p>
        </div>
      </header>

      <footer>
        <strong>Balneabilidade</strong>
        <p>Santa Catarina</p>
      </footer>
    </aside>

    <div id="mapid" class="animate-appear"></div>

    <div class="orphanages">
      {{#each orphanages}}

      <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-open_on_weekends="{{this.open_on_weekends}}"
        data-lat="{{this.lat}}" data-lng="{{this.lng}}"></span>
      {{/each}}
    </div>


    <a href="/add-point" class="add-point" title="Cadastre um orfanato">
      <img src="/images/plus.svg" alt="Criar orfanato" />
    </a>
  </div>
  </div>

  <script src="/scripts/page-main.js"> </script>

</body>

</html>